@charset "UTF-8";

.page-main{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.page-main .page-item{
    width: 100%;
    height: calc(100% - 60px);
}
.page-main .page-item:first-child{
    width: 100%;
    height: 35px;
    background-color: rgba(60, 63, 65, 1);
    border-bottom: 1px solid rgba(43, 43, 43, 1);
}
.page-main .page-item:last-child{
    width: 100%;
    height: 25px;
    background-color: rgba(60, 63, 65, 1);
    border-top: 1px solid rgba(43, 43, 43, 1);
}
.page-main .page-item .header-view{
    width: 100%;
    height: 35px;
    font-size: 0;
}
.page-main .page-item .header-view .header-view-item{
    width: 33.333333%;
    height: 35px;
    display: inline-block;
    vertical-align: top;
}
.page-main .page-item .header-view .header-view-item .item{
    width: auto;
    height: 35px;
    display: inline-block;
    vertical-align: top;
}
.page-main .page-item .header-view .header-view-item .item:first-child{
    width: 45px;
    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.page-main .page-item .header-view .header-view-item .item:first-child i{
    font-size: 18px;
    font-weight: normal;
}
.page-main .page-item .header-view .header-view-item .item:last-child{
    width: calc(100% - 45px);
}
.page-main .page-item .header-view .header-view-item .item .menu-view{
    width: auto;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    position: relative;
    z-index: 50;
}
.page-main .page-item .header-view .header-view-item .item .menu-view:hover{
    background-color: rgba(43, 43, 43, .3);
    cursor: pointer;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .title{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown{
    white-space: nowrap;
    min-width: 140px;
    min-height: 60px;
    background-color: rgba(60, 63, 65, 1);
    border: 1px solid rgba(255, 255, 255, .04);
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 100;
    display: none;
}
.page-main .page-item .header-view .header-view-item .item .menu-view:hover .menu-dropdown{
    display: block;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item{
    width: 100%;
    height: 30px;
}
.page-main .page-item .header-view .header-view-item .item .menu-view:hover .menu-dropdown .dropdown-item:hover{
    cursor: pointer;
    background-color: rgba(43, 43, 43, .5);
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item.not{
    color: #666666;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item.line{
    height: 1px;
    margin: 5px 0;
    border-top: 1px solid rgba(43, 43, 43, .3);
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item{
    width: calc(100% - 60px);
    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item:first-child{
    width: 30px;
    text-align: center;
    color: #999999;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item.not .dropdown-item-item:first-child{
    color: #666666;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item:first-child i{
    font-size: 14px;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item:last-child{
    width: 30px;
    text-align: center;
    color: #666666;
    position: relative;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item .dropdown-more{
    width: auto;
    min-width: 140px;
    min-height: 30px;
    position: absolute;
    top: -1px;
    left: 30px;
    z-index: 4;
    background-color: rgba(60, 63, 65, 1);
    border: 1px solid rgba(255, 255, 255, .04);
    display: none;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item:hover .dropdown-item-item .dropdown-more{
    display: block;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item .dropdown-more .more-item{
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding: 0 10px;
    color: #999999;
    white-space: nowrap;
    font-size: 12px;
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item .dropdown-more .more-item:hover{
    cursor: pointer;
    background-color: rgba(43, 43, 43, .5);
}
.page-main .page-item .header-view .header-view-item .item .menu-view .menu-dropdown .dropdown-item .dropdown-item-item .dropdown-more .more-item.empty{
    text-align: center;
    color: #666666;
}
.page-main .page-item .header-view .header-view-item .run-view{
    width: 100%;
    height: 35px;
    text-align: center;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item{
    width: auto;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(43, 43, 43, .4);
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item:first-child{
    padding-left: 10px;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item:last-child{
    padding-right: 20px;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item.geek-progress{
    width: 220px;
    padding: 14.5px 20px 14.5px 12px;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item i{
    width: 35px;
    height: 35px;
    line-height: 36.5px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item i.disabled{
    color: #666666;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item i:not(.disabled):hover{
    color: #409EFF;
    cursor: pointer;
}
.page-main .page-item .header-view .header-view-item .run-view .run-view-item i:not(.disabled).icon-suspend{
    color: #F56C6C;
}
.page-main .page-item .editor-item{
    width: calc(100% - 45px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.page-main .page-item .editor-item:first-child{
    width: 45px;
    background-color: rgba(60, 63, 65, 1);
    border-right: 1px solid rgba(43, 43, 43, 1);
}
.page-main .page-item .editor-item .editor-item-item{
    width: 100%;
    height: 100%;
}
.page-main .page-item .editor-item .editor-item-item.hover{
    height: calc(100% - 260px);
}
.page-main .page-item .editor-item .editor-item-item:last-child{
    height: 260px;
    background-color: rgb(25, 25, 25);
    display: none;
}
.page-main .page-item .editor-item .editor-item-item:last-child.hover{
    display: block;
}
.page-main .page-item .editor-item .editor-item-item .editor-view{
    width: auto;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.page-main .page-item .editor-item .editor-item-item .editor-view:first-child{
    width: 255px;
    background-color: rgba(60, 63, 65, .5);
    border-right: 1px solid rgba(43, 43, 43, 1);
}
.page-main .page-item .editor-item .editor-item-item .editor-view:last-child{
    width: calc(100% - 255px);
}
.page-main .page-item .editor-item .editor-item-item .editor-view .editor-tabs{
    width: 100%;
    height: 100%;
}
.page-main .page-item .editor-item .editor-item-item .footer-header{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: rgba(60, 63, 65, 1);
    border-top: 1px solid rgba(43, 43, 43, 1);
    position: relative;
    padding: 0 10px;
    text-align: right;
}
.page-main .page-item .editor-item .editor-item-item .footer-header:hover{
    cursor: n-resize;
}
.page-main .page-item .editor-item .editor-item-item .footer-header i:hover{
    cursor: pointer;
}
.page-main .page-item .editor-item .editor-item-item .footer-box{
    width: 100%;
    height: calc(260px - 25px);
    padding: 5px;
    background-color: rgba(43, 43, 43, 1);
    position: relative;
}
.page-main .page-item .editor-item .menu-view{
    width: 45px;
    height: 100%;
    padding: 7.5px;
    position: relative;
}
.page-main .page-item .editor-item .menu-view .menu-item{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: rgba(43, 43, 43, .3);
    text-align: center;
    line-height: 30px;
    color: #666666;
}
.page-main .page-item .editor-item .menu-view .menu-item i{
    font-size: 16px;
}
.page-main .page-item .editor-item .menu-view .menu-item:hover{
    cursor: pointer;
    background-color: rgba(43, 43, 43, .8);
    color: #999999;
}
.page-main .page-item .editor-item .menu-view .menu-item.select{
    color: #999999;
    background-color: rgba(43, 43, 43, .8);
}
.page-main .page-item .editor-item .menu-view .menu-item.bottom{
    width: 30px;
    bottom: 0;
    position: absolute;
    left: 7.5px;
    right: 7.5px;
    background-color: rgba(0, 0, 0, 0);
    color: #666666;
}
.page-main .page-item .editor-item .menu-view .menu-item.bottom:hover i{
    color: #999999;
}

.page-main .page-item .page-footer{
    width: 50%;
    height: 25px;
    display: inline-block;
    vertical-align: top;
}
.page-main .page-item .page-footer .page-footer-item{
    width: auto;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}
.page-main .page-item .page-footer .page-footer-item:hover{
    cursor: pointer;
    background-color: rgba(43, 43, 43, .3);
}
.page-main .page-item .page-footer .page-footer-item.hover{
    background-color: rgba(43, 43, 43, .5);
}
.page-main .page-item .page-footer .page-footer-item i{
    margin-right: 5px;
}
.page-main .page-item .page-footer:first-child .page-footer-item:first-child{
    width: 45px;
}
.page-main .page-item .page-footer .page-footer-item i.tools{
    color: #E6A23C;
}
.page-main .page-item .page-footer .page-footer-item i.tools.success{
    color: #67C23A;
}

.el-overlay{
    background-color: rgba(43, 43, 43, .2) !important;
}
.el-button{
    padding: 0 20px !important;
}
.el-button.is-round:not(.el-button--primary){
    background-color: rgba(43, 43, 43, .3) !important;
    border-color: rgba(43, 43, 43, .8) !important;
    color: #666666 !important;
}
.el-button.is-round:not(.el-button--primary):hover{
    color: #999999 !important;
}

.geek-el-input.el-input .el-input__wrapper{
    background-color: rgba(43, 43, 43, .5);
    box-shadow: 0 0 0 1px rgba(43, 43, 43, .8);
}
.geek-el-input.el-input .el-input__wrapper.is-focus{
    box-shadow: 0 0 0 1px rgba(43, 43, 43, 1);
}
.geek-el-input.el-input.is-disabled .el-input__wrapper{
    background-color: rgba(43, 43, 43, .5);
    box-shadow: 0 0 0 1px rgba(43, 43, 43, .8);
}
.geek-el-input.el-input .el-input__wrapper input{
    font-size: 12px;
    color: #999999;
}
.geek-el-input.el-input .el-input-group__append{
    background-color: rgba(43, 43, 43, .8);
    box-shadow: 0 0 0 1px rgba(43, 43, 43, 1);
}
.geek-el-input.el-input .el-input-group__append:hover{
    cursor: pointer;
}
.geek-el-input.el-input .el-input-group__append i{
    font-size: 14px;
}
.geek-el-input.el-input .el-input-group__append i:hover{
    color: #ffffff;
}
.geek-el-input.el-input .el-input-group__append span{
    font-size: 12px;
}
.geek-el-input.el-input.geek-input-border .el-input__wrapper{
    border-radius: 0;
}
.geek-el-input.el-input .el-input__count .el-input__count-inner{
    background-color: rgba(43, 43, 43, 0);
}

.geek-el-input.el-textarea .el-textarea__inner{
    line-height: 20px !important;
    background-color: rgba(43, 43, 43, .5) !important;
    box-shadow: 0 0 0 1px rgba(43, 43, 43, .8) !important;
    resize: none;
    color: #999999;
    font-size: 12px !important;
    padding: 10px 10px 20px 10px !important;
}
.geek-el-input.el-textarea .el-input__count{
    background-color: rgba(43, 43, 43, 0) !important;
}

.geek-el-select.el-select{
    --el-select-input-focus-border-color: rgba(43, 43, 43, 0) !important;
}
.geek-el-select.el-select .el-input__wrapper{
    background-color: rgba(43, 43, 43, .5);
    box-shadow: 0 0 0 1px rgba(43, 43, 43, .8);
}
.geek-el-select.el-select .el-input__wrapper input{
    font-size: 12px;
    color: #999999;
}
.geek-el-select.el-select .el-input__wrapper input:focus{
    background-color: rgba(43, 43, 43, 0) !important;
}
.geek-el-select.el-select .el-input.is-focus .el-input__wrapper{
    box-shadow: 0 0 0 1px rgba(43, 43, 43, 1) !important;
}
.geek-el-select.el-select .el-input .el-input__wrapper.is-focus{
    box-shadow: 0 0 0 1px rgba(43, 43, 43, 1) !important;
}
.geek-el-select.el-select .el-input:hover .el-input__wrapper{
    background-color: rgba(43, 43, 43, .5);
    box-shadow: 0 0 0 1px rgba(43, 43, 43, .8);
}

.geek-tooltip{
    color: #999999 !important;
}
.geek-run-tooltip{
    color: #999999 !important;
    top: -5px !important;
}
.el-button{
    font-size: 12px !important;
}
.el-button i{
    font-size: 12px !important;
}
.el-button.el-button--info{
    background-color: rgba(43, 43, 43, .5) !important;
    border-color: rgba(43, 43, 43, .8) !important;
    color: #666666 !important;
}
.el-button.el-button--info:hover, .el-button.el-button--info:focus{
    background-color: rgba(43, 43, 43, .8) !important;
    border-color: rgba(43, 43, 43, .8) !important;
    color: #666666 !important;
}
.el-button.el-button--info.is-loading{
    background-color: rgba(0, 0, 0, 1) !important;
    border-color: rgba(0, 0, 0, 1) !important;
    color: #666666 !important;
}

.geek-el-popper.el-popper.is-light{
    background-color: rgba(60, 63, 65, 1) !important;
    border-color: rgba(43, 43, 43, .8) !important;
}
.geek-el-popper.el-popper .el-select-dropdown__list{
    padding: 0 !important;
    margin: 0 !important;
}
.geek-el-popper.el-popper .el-select-dropdown__item{
    height: 35px;
    line-height: 35px;
    background-color: rgba(43, 43, 43, .2) !important;
    padding: 0 10px !important;
}
.geek-el-popper.el-popper .el-select-dropdown__item span{
    width: calc(100% - 80px);
    height: 35px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
    font-size: 12px !important;
}
.geek-el-popper.el-popper .el-select-dropdown__item span:first-child:hover{
    color: #999999;
}
.geek-el-popper.el-popper .el-select-dropdown__item span:last-child{
    width: 80px;
    text-align: right;
    color: #666666;
}
.geek-el-popper.el-popper .el-select-dropdown__item.selected{
    color: #999999 !important;
    font-weight: normal !important;
}
.geek-el-popper.el-popper .el-popper__arrow::before{
    background-color: rgba(60, 63, 65, 1) !important;
    border-color: rgba(43, 43, 43, .8) !important;
}

.geek-dialog.el-dialog{
    background-color: rgba(60, 63, 65, 1);
    border-radius: 4px;
}
.geek-dialog.el-dialog .el-dialog__header{
    margin: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    background-color: rgba(52, 53, 54, 1);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid rgba(43, 43, 43, .5)
}
.geek-dialog.el-dialog .el-dialog__header .el-dialog__title{
    font-size: 12px;
    color: #999999;
}
.geek-dialog.el-dialog .el-dialog__header .el-dialog__headerbtn{
    width: 35px;
    height: 35px;
    top: 0;
}
.geek-dialog.el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close{
    font-size: 12px;
}
.geek-dialog.el-dialog .el-dialog__body{
    padding: 0;
}
.geek-dialog.el-dialog .el-form-item__label{
    font-size: 12px;
}
.geek-dialog.el-dialog .el-radio-button__inner{
    background-color: rgba(43, 43, 43, .5);
    border-color: rgba(60, 63, 65, .6);
    border-left: 0 !important;
    border-right: 0 !important;
    font-size: 12px;
}
.geek-dialog.el-dialog .el-radio-button__original-radio:checked+.el-radio-button__inner{
    background-color: rgba(43, 43, 43, 1);
    border-color: rgba(60, 63, 65, .6);
    box-shadow: -1px 0 0 0 rgba(43, 43, 43, 1);
}

.geek-progress .el-progress .el-progress-bar__outer{
    background-color: rgba(43, 43, 43, 1);
}

.geek-message-box.el-message{
    width: auto;
    background-color: rgba(60, 63, 65, 1);
    border-color: rgba(43, 43, 43, 1);
    padding: 10px 15px;
    --el-message-min-width: auto;
    z-index: 99000 !important;
}
.geek-message-box.el-message .el-message__content{
    height: 15px;
    line-height: 15px;
    color: #888888;
    font-size: 12px;
}

.geek-message-box.el-message-box{
    background-color: rgba(60, 63, 65, 1);
    border-color: rgba(43, 43, 43, 1);
}
.geek-message-box.el-message-box .el-message-box__title{
    font-size: 14px !important;
    color: #999999 !important;
}
.geek-message-box.el-message-box .el-message-box__message{
    color: #999999 !important;
    font-size: 12px !important;
}
.geek-message-box.el-message-box .el-input__wrapper{
    background-color: rgba(43, 43, 43, .5);
    box-shadow: 0 0 0 1px rgba(43, 43, 43, .8);
}
.geek-message-box.el-message-box .el-input__wrapper input{
    font-size: 12px;
    color: #999999;
}
.geek-message-box.el-message-box .el-message-box__errormsg{
    line-height: 24px !important;
}

.geek-el-tabs.el-tabs{
    width: 100%;
    height: 100%;
}
.geek-el-tabs.el-tabs .el-tabs__header{
    height: 28px;
    margin: 0;
    background-color: rgba(60, 63, 65, .5);
    border-color: rgba(43, 43, 43, 1);
}
.geek-el-tabs.el-tabs .el-tabs__nav{
    height: 28px;
    border: 0 !important;
    z-index: 0 !important;
}
.geek-el-tabs.el-tabs .el-tabs__nav-prev, .geek-el-tabs.el-tabs .el-tabs__nav-next{
    height: 28px !important;
    line-height: 30px !important;
    text-align: center;
}
.geek-el-tabs.el-tabs .el-tabs__nav-prev:hover, .geek-el-tabs.el-tabs .el-tabs__nav-next:hover{
    color: #ffffff !important;
}
.geek-el-tabs.el-tabs .el-tabs__nav .el-tabs__item{
    height: 28px;
    line-height: 28px;
    color: #666666 !important;
    border-color: rgba(43, 43, 43, .5);
    font-size: 12px;
}
.geek-el-tabs.el-tabs .el-tabs__nav .el-tabs__item:hover{
    color: #ffffff !important;
}
.geek-el-tabs.el-tabs .el-tabs__nav .el-tabs__item.is-active{
    color: #999999 !important;
    border-bottom-color: #999999 !important;
}
.geek-el-tabs.el-tabs .el-tabs__nav .el-tabs__item .is-icon-close{
    color: #999999 !important;
}
.geek-el-tabs.el-tabs .el-tabs__nav .el-tabs__item .is-icon-close:hover{
    background-color: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}
.geek-el-tabs.el-tabs .el-tabs__content{
    width: 100%;
    height: calc(100% - 28px);
}
.el-form .el-form-item{
    margin-bottom: 15px !important;
}
.el-form .el-form-item span.tips{
    width: 100%;
    line-height: 22px;
    font-size: 12px;
    margin-bottom: 5px;
    color: #E6A23C;
}
.el-form .el-form-item span.tips-bottom{
    width: 100%;
    line-height: 20px;
    font-size: 12px;
    margin: 5px 0;
    color: #6f6f6f;
}
.el-form .el-form-item.footer{
    padding-top: 30px;
}

.el-tab-pane{
    width: 100% !important;
    height: 100% !important;
}

.el-tree{
    background-color: rgba(0, 0, 0, 0) !important;
}
.el-tree .el-tree__empty-text{
    font-size: 12px !important;
    color: #666666 !important;
}
.el-tree .el-tree-node__content .el-tree-node__label{
    font-size: 12px !important;
}
.el-tree .el-tree-node__content:hover{
    background-color: rgba(0, 0, 0, 0) !important;
}
.el-tree .el-tree-node__content:focus{
    background-color: rgba(0, 0, 0, 0) !important;
}
.el-tree-node:focus>.el-tree-node__content{
    background-color: rgba(0, 0, 0, 0) !important;
}
.el-tree .el-tree-node.is-current.is-focusable:not(.is-expanded){
    color: #999999 !important;
}

.el-color-picker__panel{
    background-color: rgba(43, 43, 43, 1) !important;
    border: 1px dashed rgba(43, 43, 43, .5) !important;
}
.el-color-picker__trigger{
    border: 1px dashed rgba(43, 43, 43, .5) !important;
}
.el-color-dropdown__value{
    width: 100px !important;
}

.uploader-box{
    background-color: rgba(43, 43, 43, .3);
    border: 1px dashed rgba(43, 43, 43, .5);
    text-align: center;
    border-radius: 4px;
}
.uploader-box img{
    width: 100%;
}

.geek-md{
    border-radius: 0 0 0 4px;
    background-color: rgba(60, 63, 65, 1) !important;
    border: 0 !important;
}
.geek-md .md-toolbar-wrapper{
    background-color: rgba(43, 43, 43, .5) !important;
    border: 0 !important;
}
.geek-md .md-content .md-input-wrapper textarea{
    padding: 10px !important;
    color: #999999 !important;
}
.geek-md .md-content .md-preview-wrapper{
    padding: 10px !important;
}
.geek-md .md-content .md-preview-wrapper *{
    font-size: 14px !important;
    user-select: text;
}
.geek-md .md-content .md-preview-wrapper::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.geek-md .md-content .md-preview-wrapper::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: #333333;
}
.geek-md .md-content .md-preview-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background: rgba(0, 0, 0, .1);
}
.geek-md .md-content .md-input-wrapper textarea::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
.geek-md .md-content .md-input-wrapper textarea::-webkit-scrollbar-thumb {
    border-radius: 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: #333333;
}
.geek-md .md-content .md-input-wrapper textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    background: rgba(0, 0, 0, .1);
}
.geek-md .md-content{
    width: 100%;
    height: 100%;
    position: relative;
}
.geek-md.md-dark .github-theme pre{
    background-color: rgba(43, 43, 43, .5) !important;
}
.geek-md.md-dark .github-theme pre code{
    background-color: rgba(43, 43, 43, .5) !important;
}

.empty-data{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}
.empty-data .icon{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.empty-data .icon i{
    font-size: 18px;
}
.empty-data .text{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #666666;
}
